mnist
caffe.INFO
caffe.water-G11CD.water.log
caffe.water-G11CD.water.log.INFO.20190117-144206.13577
caffe.water-G11CD.water.log.test
caffe.water-G11CD.water.log.train
mnist_siamese_iter_10000.caffemodel
mnist_siamese_iter_10000.solverstate
mnist_siamese_iter_15000.caffemodel
mnist_siamese_iter_15000.solverstate
mnist_siamese_iter_20000.caffemodel
mnist_siamese_iter_20000.solverstate
mnist_siamese_iter_25000.caffemodel
mnist_siamese_iter_25000.solverstate
mnist_siamese_iter_30000.caffemodel
mnist_siamese_iter_30000.solverstate
mnist_siamese_iter_35000.caffemodel
mnist_siamese_iter_35000.solverstate
mnist_siamese_iter_40000.caffemodel
mnist_siamese_iter_40000.solverstate
mnist_siamese_iter_45000.caffemodel
mnist_siamese_iter_45000.solverstate
mnist_siamese_iter_5000.caffemodel
mnist_siamese_iter_5000.solverstate
mnist_siamese_iter_50000.caffemodel
mnist_siamese_iter_50000.solverstate
train.txt
train_lmdb/
train_p.txt
train_p_lmdb/
val.txt
val_lmdb/
val_p.txt
val_p_lmdb/

